
<div class="containerR">

    <div class="returns">

        <style>
            h1 {
                font-family: "Cambria", sans-serif;
                /* Additional styling if needed */
                font weight: 100;
            }

            h2 {
                font-family: "Cambria", sans-serif;
                /* Additional styling if needed */
                font weight: 100;
                text-align: left;
            }
        </style>

        <h1>              </h1>

        <h1>TERMS AND CONDITONS</h1>
        <hr />

        <h2>1. Introduction</h2>
        <p>Welcome to Thrifty Designs. By accessing or using our website, you agree to comply with the following Terms and Conditions of Use. Please read these Terms carefully before using the Site.</p>
        <p>By accessing or using the Site, you represent that you are of legal age to enter into this agreement and that you have read, understood, and agreed to be bound by these Terms. If you are using the Site on behalf of an organization, you represent and warrant that you have the authority to bind that organization to these Terms.</p>

        <h2>2. Changes to Terms</h2>
        <p>We reserve the right to change, modify, or revise these Terms at any time without notice. Any changes will be effective immediately upon posting on the Site. Your continued use of the Site following the posting of changes constitutes your acceptance of such changes.</p>

       
        <h2>3. User Accounts</h2>
        <p> You may be required to create an account to access certain features of the Site. When creating an account, you agree to provide accurate, current, and complete information. You are responsible for maintaining the confidentiality of your account credentials and for any activity that occurs under your account.</p>
        <p> You agree to notify us immediately of any unauthorized access or use of your account or any other breach of security. We reserve the right to terminate or suspend your account in our sole discretion.</p>

        <h2>4. Purchases</h2>
        <p> When making a purchase on the Site, you agree to provide accurate billing and shipping information, including valid payment card details.</p>
        <p>Prices and availability of products are subject to change without notice.</p>
        <p> We reserve the right to refuse or cancel any orders placed for products listed at an incorrect price or with other incorrect information.</p>

       
        <h2>5. Content</h2>
        <p>All content on the Site, including text, graphics, images, and software, is owned or licensed by us and is protected by copyright, trademark, and other intellectual property laws.</p>
        <p>You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any content obtained from the Site.</p>


        <h2>6. Disclaimers</h2>
        <p> The Site and its content are provided on an "as-is" and "as-available" basis without warranties of any kind, whether express or implied.</p>
        <p> We do not guarantee the accuracy, completeness, or reliability of any content on the Site.</p>
        <p> We disclaim all warranties, including but not limited to implied warranties of merchantability, fitness for a particular purpose, and non-infringement.</p>
        <p> Your use of the Site is at your own risk.</p>
