
@{
    ViewData["Title"] = "Donate";
}

<h1>Donate</h1>

<section id="team">
    <div class="container">
        <div class="grid">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Step one</h1>
                        <p>Order a donation kit today!</p>
                        <p>Choose a size; small, medium or large.</p>
                        <p>Free alongside any purchase or $5 alone</p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Step 2</h1>
                        <p>Clear your wardrobe!</p>
                        <p>Pack any unwanted items into the bag, and attach free shipping label. Drop off at your closest post centre</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Step 3</h1>
                        <p>
                            Once we recieve your kit, our team will sort through the items, they will either be for sale second hand, or recycled to create our new pieces
                        </p>

                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Step 4 </h1>
                        <p>After this process is completed, you will rewarded with shopping credits to be used on our site!</p>
                    </div>



    </div>
</div>
</div>
</div>
    <div/>
</section>