<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <link rel="stylesheet" href="styles.css" />
</head>


<body>
<h1>        </h1>
<section id="team">
    <div class="container">
        <div class="grid">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/lib/photos/donate/donate1.1.png" alt="Donatecard" style="width:300px;height:400px;">
                    </div>
                    <div class="flip-card-back">
                        <p> </p>
                        <p class="custom-header">Step One</p>
                        <p class="custom-paragraph">Order a donation kit today!</p>
                        <p class="custom-paragraph">Choose a size; small, medium or large.</p>
                        <p class ="custom-paragraph">Free alongside any purchase or $5 alone</p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/lib/photos/donate/donate2.png" alt="Donatecard" style="width:300px;height:400px;">
                    </div>
                    <div class="flip-card-back">
                        <p> </p>
                        <p class="custom-header">Step Two</p>
                        <p class="custom-paragraph">Clear your wardrobe!</p>
                        <p class="custom-paragraph">Pack any unwanted items into the bag, and attach free shipping label.</p>
                        <p class="custom-paragraph">Drop off at your closest post centre</p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/lib/photos/donate/donate3.png" alt="Donatecard" style="width:300px;height:400px;">
                    </div>
                    <div class="flip-card-back">
                        <p> </p>
                        <p class="custom-header">Step Three</p>
                        <p class="custom-paragraph">Once we recieve your kit, our team will sort through the items. 
                        </p>
                        <p class="custom-paragraph"> They will either be for sale second hand, or recycled to create our new pieces</p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/lib/photos/donate/donate4.png" alt="Donatecard" style="width:300px;height:400px;">
                    </div>
                    <div class="flip-card-back">
                        <p> </p>
                        <p class="custom-header">Step Four</p>
                        <p class="custom-paragraph">After this process is completed, you will rewarded with shopping credits to be used on our site!</p>
                    </div>
</div>
</div>
</div>
    <div/>
    </div>
</section>

<!--FAQS-->

<body>

<div class="containerFAQ">
    <h2>Frequently Asked Questions</h2>
    <div class="accordion">
        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">How many credits will I recieve?</span>
                <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                    Ut tortor pretium viverra suspendisse potenti.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <button id="accordion-button-2" aria-expanded="false">
                <span class="accordion-title">When will I recieve the credits?</span>
                <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                    Ut tortor pretium viverra suspendisse potenti.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <button id="accordion-button-3" aria-expanded="false">
                <span class="accordion-title">I've sent my tidy kit, what next?</span>
                <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                    Ut tortor pretium viverra suspendisse potenti.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <button id="accordion-button-4" aria-expanded="false">
                <span class="accordion-title">What items are acceptable for the kits?</span>
                <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                    Ut tortor pretium viverra suspendisse potenti.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
                <span class="accordion-title">What happens to the items in the kits?</span>
                <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                    Ut tortor pretium viverra suspendisse potenti.
                </p>
            </div>
        </div>
    </div>
</div>
<script src="script.js"></script>
</body>

<!-- Order Donation Kit:-->

<div class="small-container">
    <p> </p>
    <h2 class="title"> Order Donation Kit:</h2>
    <div class="row">
        <div class="col-3">
            <img src="~/lib/photos/donate/bag1.png" />
            <h4>Small Donation Kit</h4>
            <p>$2.00</p>
        </div>
        <div class="col-3">
            <img src="~/lib/photos/donate/box2.jpg" />
            <h4>Medium Donation Kit</h4>
            <p>$3.50</p>
        </div>
        <div class="col-3">
            <img src="~/lib/photos/donate/box1.png" />
            <h4>Large Donation Kit</h4>
            <p>$5.00</p>
        </div>
    </div>
</div>

</body>
