@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/lib/photos/clothes.png" style="float:right;width:700px;height:700px;"/>
</div>
<img src="~/lib/photos/model home.png" style="float:left;width:700px;height:700px;"/>
