@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="column">
        <img src="~/lib/photos/clothes hanging 2.png" alt="clothes" style="width:100%">
        </div>
        <div class="column">
        <img src="~/lib/photos/model pink 2.png" alt="model in pink" style="width:100%">
            </div>
