@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="containerR">
    <body>

        <div class="returns">

            <style>
                h1 {
                    font-family: "Cambria", sans-serif;
                    /* Additional styling if needed */
                    font weight: 100;
                }

                h2 {
                    font-family: "Cambria", sans-serif;
                    /* Additional styling if needed */
                    font weight: 100;
                    text-align: left;
                }
            </style>

            <h1>Learn About Thrifty</h1>

            <hr />

            <h2>Our Story</h2>
            <p>Thrifty Designs is an online thrift store that's passionate about womens fashion and sustainability. We're here to make the process of clearing out your wardrobe, reselling your items, and shopping secondhand as easy and enjoyable as possible.</p>
            <p> We're completely New Zealand found and run and our fully digital platform offers a modern thrifting experience that's both fun and convenient for women across Aotearoa. Whether you're looking to refresh your style, reduce fashion waste, or discover unique pieces, we're dedicated to providing a seamless and eco-friendly shopping experience.</p>

        </div>
    </body>

</div>