@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="containerR">
    <body>

        <div class="returns">

            <style>
                h1 {
                    font-family: "Cambria", sans-serif;
                    /* Additional styling if needed */
                    font weight: 100;
                }

                h2 {
                    font-family: "Cambria", sans-serif;
                    /* Additional styling if needed */
                    font weight: 100;
                    text-align: left;
                }
            </style>

            <h1>How We Recycle</h1>

            <hr />

            <h2>Sell Items Second-Hand</h2>
            <p>Through our donation kits, and other means we collect a range of pre-loved clothing and accessories. These items are then assessed for quality and suitability for resale. Items in good condition are either cleaned or repaired if needed. This helps reduce the amount of clothing waste that ends up in landfills as well as more clothing produced, helping to protect us and our environment</p>

            <h2>Recycle Materials and Items to Create New Products</h2>
            <p> Our sustainability range, is clothing created through recyled materials. This includes items from dontaion kits that aren't in the best shape. All other material and shredded and sent off to our partnership with a textile recycling company, which uses the excess to create insulation'</p>

        </div>
    </body>

</div>