



<div class="containerR">

<div class="returns">

        <style>
        h1 {
        font-family: "Cambria", sans-serif;
        /* Additional styling if needed */
        font weight: 100;
        }
        </style>

    <h1>              </h1>

<h1>REFUNDS AND EXCHANGES</h1>
<hr />


<p>

   <b> Return Policy: </b> Items can be returned within 14 days of delivery for exchange, store credit or original payment refund. Items must be returned with tags, unworn, unwashed and unaltered condition, with proof of purchase.</p>


   <p> For hygienic reasons, we do not accept returns for final sales, cosmetics, earrings, undergarments and swimwear. Thrifty designs is not responsible for non-thrifty and final sale items mistakenly returned.</p>


    <p> Return postage and tracking is the responsibility of the sender. Please send your returns using a tracked or couriered service, as we will not be liable for any lost items.</p>


   <p> Thrifty designs will provide customers with a tracked returns label through email. This label has a set $9.99 fee, which will be deducted from your refund. If a refund for store credit is wanted this fee will be waived.</p>

    <b>If you wish to make a return or exchange please contact returns@thriftydesigns.co.nz with your order number and reason for return.</b> Once provided with a returns label, attach to parcel and drop at your nearest post centre.</p>


    <p> If your return is deemed to not be in the condition it was when sent out, we will not accept your return and it will be sent back to you.</p>


    <p> <b> Exhanges:</b> All exchange orders will be processed once your return is scanned by the carrier. You will recieve an email with a new tracking number, once the exchange has been processed.</p>


    <p>Exchanges are processed for the discounted amount paid for each item and we cannot honor a new discount code for exchange requests of different items.</p>


    <p>
        <b>Return Processing Time:</b> All refunds and store credits are processed within 6 business days of our team receiving your items. Exchanges will process once your items are in transit with the carrier.

    </p>

</div>
</div>