@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="containerR">
   <body>

    <div class="returns">

            <style>
                h1 {
                    font-family: "Cambria", sans-serif;
                    /* Additional styling if needed */
                    font weight: 100;
                }
            </style>

        <h1>SHIPPING</h1>

        <hr /> 

        <ul>
            <li>2-3 BUSINESS DAYS DELIVERY</li>
            <li>ALL PARCELS ARE EXPRESS POSTED VIA DHL FOR $9.99</li>
            <li>FREE EXPRESS POSTAGE FOR ORDERS OVER $150 </li>
            <li>PLEASE ALLOW 3-4 DAYS TO DISPATCH ORDER</li>
            <p> Please note we currently only ship within NZ</p>
        </ul>

        </div>
    </body>
     
</div>