<div class="containerS">
    <img src="~/lib/photos/thank you.png" class="fit-image" alt="Thank You Image">


</div>

<style>
    /* Center-align the button */
    .center-button {
        text-align: center;
    }

    /* Change button color to light blue */
    .light-blue-button {
        background-color: #acc1cf; /* Light blue color */
        color: white; /* Text color */
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }
</style>

<div class="center-button">
    <button type="button" onclick="window.location.href = 'https://localhost:7182/Home'" class="btn btn-lg light-blue-button">Return Home</button>
</div>
