
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>




<style>
                h2 {
                    font-family: "Cambria", sans-serif;
                    /* Additional styling if needed */
                    font weight: 100;
                }
            </style>




<body>
    <style>
        .container {
            text-align: left;
            padding: 20px;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .label-column {
            flex: 1; /* Labels take up equal space */
            text-align: left;
        }

        .select-column {
            flex: 2; /* Selects take up more space */
            text-align: right;
        }

        select {
            width: 250px; 
        }
    </style>

    <div class="container">
        <div class="row row-2">
            <h2>All Sustainably Made Products</h2>
        </div>

        <div class="row">
            <div class="label-column">
                <label for="sorting-select">Sort By:</label>
            </div>
            <div class="select-column">
                <select id="sorting-select">
                    <option value="default">Default</option>
                    <option value="low-to-high">Price Low to High</option>
                    <option value="high-to-low">Price High to Low</option>
                    <option value="popularity">Popularity</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="label-column">
                <label for="product-filter">Filter by Product Type:</label>
            </div>
            <div class="select-column">
                <select id="product-filter">
                    <option value="all">All Products</option>
                    <option value="tops">Tops</option>
                    <option value="bottoms">Bottoms</option>
                    <option value="skirt-dress">Skirts / Dresses</option>
                    <option value="jackets">Jackets</option>
                    <option value="knit">Knitwear / Sweats</option>
                   
                </select>
            </div>
        </div>
    </div>

    <hr />

    <div class="small-container">
    <div class="row">
            <div class="col-4" data-price="70.00" data-popularity="10" data-product-type="bottoms">
            <img src="~/lib/photos/sustainability/untitled design (4).png" />
            <h4>Dark Blue Wash Denim Shorts</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$70.00</p>
        </div>
            <div class="col-4" data-price="40.00" data-popularity="7" data-product-type="tops">
            <img src="~/lib/photos/sustainability/untitled design (3).png" />
            <h4>Lilac Corset Top</h4>
            <div class="cart">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            <p>$40.00</p>
        </div>
            <div class="col-4" data-price="45.00" data-popularity="8" data-product-type="skirt-dress">
            <img src="~/lib/photos/sustainability/untitled design (8).png" />
            <h4>Black Mini Skirt</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$45.00</p>
        </div>
            <div class="col-4" data-price="60.00" data-popularity="4" data-product-type="skirt-dress">
            <img src="~/lib/photos/sustainability/untitled design (6).png" />
            <h4>Pink Silk Midi Dress</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$60.00</p>
        </div>
            <div class="col-4" data-price="25.00" data-popularity="8" data-product-type="tops">
            <img src="~/lib/photos/sustainability/untitled design (9).png" />
            <h4>Black Ribbed Tank</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$25.00</p>
        </div>
            <div class="col-4" data-price="45.00" data-popularity="7" data-product-type="skirt-dress">
            <img src="~/lib/photos/sustainability/untitled design (7).png" />
            <h4>White Mini Skirt</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$45.00</p>
        </div>
            <div class="col-4" data-price="130.00" data-popularity="1" data-product-type="jackets">
                
            <img src="~/lib/photos/sustainability/untitled design (2).png" />
            <h4>Black Leather Coat</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$130.00</p>
        </div>
            <div class="col-4" data-price="25.00" data-popularity="5" data-product-type="tops">
            <img src="~/lib/photos/sustainability/untitled design (11).png" />
            <h4>Grey Tank</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$25.00</p>
        </div>
            <div class="col-4" data-price="50.00" data-popularity="7" data-product-type="bottoms">
            <img src="~/lib/photos/sustainability/untitled design (5).png" />
            <h4>Lightwash Ripped Denim Shorts</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$50.00</p>
        </div>
            <div class="col-4" data-price="60.00" data-popularity="7"data-product-type="knit">
            <img src="~/lib/photos/sustainability/untitled design (10).png" />
            <h4>Brown Knit Sweater</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$60.00</p>
        </div>
            <div class="col-4" data-price="40.00" data-popularity="10" data-product-type="skirt-dress">
            <img src="~/lib/photos/sustainability/untitled design (14).png" />
            <h4>Denim Mini Skirt</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$40.00</p>
        </div>
            <div class="col-4" data-price="50.00" data-popularity="3" data-product-type="bottoms">
            <img src="~/lib/photos/sustainability/untitled design (13).png" />
            <h4>Lightwash Straight leg jeans</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$50.00</p>
        </div>

            <div class="col-4" data-price="20.00" data-popularity="5" data-product-type="tops">
            <img src="~/lib/photos/sustainability/untitled design (15).png" />
                <h4>Floral Crochet Top</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$20.00</p>
        </div>
            <div class="col-4" data-price="55.00" data-popularity="7" data-product-type="skirt-dress">
            <img src="~/lib/photos/sustainability/untitled design (16).png" />
            <h4>Denim Midi Skirt</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$55.00</p>
        </div>
            <div class="col-4" data-price="60.00" data-popularity="2"data-product-type="jackets">
            <img src="~/lib/photos/sustainability/untitled design (17).png" />
            <h4>Cropped Detailing Jacket</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$60.00</p>
        </div>
            <div class="col-4" data-price="50.00" data-popularity="6"data-product-type="bottoms">
            <img src="~/lib/photos/sustainability/untitled design (18).png" />
            <h4>Blue Mom Jeans</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$50.00</p>
        </div>
            <div class="col-4" data-price="20.00" data-popularity="6" data-product-type="knit">
            <img src="~/lib/photos/sustainability/untitled design (19).png" />
            <h4>Oversized Grey Cardigan</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$20.00</p>
        </div>

            <div class="col-4" data-price="23.00" data-popularity="7" data-product-type="tops">
            <img src="~/lib/photos/sustainability/untitled design (21).png" />
            <h4>Black Bodysuit</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$23.00</p>
        </div>
            <div class="col-4" data-price="40.00" data-popularity="4" data-product-type="bottoms">
                
            <img src="~/lib/photos/sustainability/untitled design (22).png" />
            <h4>Wide Leg Pants</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$40.00</p>
        </div>
            <div class="col-4" data-price="10.00" data-popularity="5" data-product-type="tops">
            <img src="~/lib/photos/sustainability/untitled design (23).png" />
            <h4>Black Cropped Tank</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$10.00</p>
        </div>
            <div class="col-4" data-price="30.00" data-popularity="1" data-product-type="bottoms">
            <img src="~/lib/photos/sustainability/untitled design (24).png" />
            <h4>Copper Pants</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$30.00</p>
        </div>
            <div class="col-4" data-price="30.00" data-popularity="5" data-product-type="bottoms">
            <img src="~/lib/photos/sustainability/untitled design (25).png" />
            <h4>Leather Pants</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$30.00</p>
        </div>
            <div class="col-4" data-price="27.00" data-popularity="9" data-product-type="tops">
            <img src="~/lib/photos/sustainability/untitled design (26).png" />
            <h4>Black Corset Top</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$27.00</p>
        </div>

            <div class="col-4" data-price="45.00" data-popularity="6" data-product-type="knit">
            <img src="~/lib/photos/sustainability/untitled design (28).png" />
            <h4>Brown Sweater</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$45.00</p>
        </div>
            <div class="col-4" data-price="48.00" data-popularity="2" data-product-type="bottoms">
            <img src="~/lib/photos/sustainability/untitled design (29).png" />
            <h4>White Work Pants</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$48.00</p>
        </div>
            <div class="col-4" data-price="10.00" data-popularity="4" data-product-type="top">
            <img src="~/lib/photos/sustainability/untitled design (30).png" />
            <h4>Coral Tank</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$10.00</p>
        </div>
            <div class="col-4" data-price="35.00" data-popularity="3" data-product-type="knit">
            <img src="~/lib/photos/sustainability/untitled design (31).png" />
            <h4>Blue Knit Cardigan</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$35.00</p>
        </div>
            <div class="col-4" data-price="25.00" data-popularity="6" data-product-type="tops">
            <img src="~/lib/photos/sustainability/untitled design (32).png" />
            <h4>Long Sleeve Grey Top</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$25.00</p>
        </div>
            <div class="col-4" data-price="45.00" data-popularity="7" data-product-type="skirt-dress">
            <img src="~/lib/photos/sustainability/untitled design (34).png" />
            <h4>White Mini Skirt</h4>
                <a href="bag.html" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            <p>$45.00</p>
        </div>

    </div>
    </div>


    <div class="pagination">
        <span class="page" data-page="1">1</span>
        <span class="page" data-page="2">2</span>
        <span class="page" data-page="3">3</span>
        <span class="page" data-page="4">4</span>
        
        
    </div>

    
    

        <script>
            // JAVASCRIPT CODE FOR PAGINATION AND SORTING FUNCTIONALITIES //

        document.addEventListener("DOMContentLoaded", function () {
            const selectElement = document.getElementById("sorting-select");
            const productFilter = document.getElementById("product-filter");
            const clothingItemsContainer = document.querySelector(".small-container .row");
            let clothingItems = Array.from(document.querySelectorAll(".col-4"));
            let originalClothingItems = [...clothingItems];

            // Pagination code
            const itemsPerPage = 8;
            let currentPage = 1;
            let totalPages = Math.ceil(clothingItems.length / itemsPerPage);

            function showItems(page, items) {
                clothingItemsContainer.innerHTML = "";
                const startIndex = (page - 1) * itemsPerPage;
                const endIndex = startIndex + itemsPerPage;
                const itemsToShow = items.slice(startIndex, endIndex);

                let row = document.createElement("div");
                row.className = "row";

                for (let i = 0; i < itemsToShow.length; i++) {
                    if (i === 4) {
                        // If 4 items have been added to the top row, start a new row
                        clothingItemsContainer.appendChild(row);
                        row = document.createElement("div");
                        row.className = "row";
                    }

                    const item = itemsToShow[i];
                    row.appendChild(item);
                }

                // Add any remaining items to the second row
                clothingItemsContainer.appendChild(row);
            }



            function updatePagination() {
                const pagination = document.querySelector(".pagination");
                pagination.innerHTML = "";

                for (let i = 1; i <= totalPages; i++) {
                    const pageElement = document.createElement("span");
                    pageElement.classList.add("page");
                    pageElement.textContent = i;
                    pageElement.setAttribute("data-page", i);

                    if (i === currentPage) {
                        pageElement.classList.add("selected");
                    }

                    pagination.appendChild(pageElement);
                }
            }

            function sortAndFilterProducts() {
                const selectedOption = selectElement.value;
                const selectedProductType = productFilter.value;

                const filteredItems = originalClothingItems.filter((item) => {
                    const productType = item.getAttribute("data-product-type");
                    if (selectedProductType === "all") {
                        return true; // Show all products
                    }
                    return productType === selectedProductType;
                });

                if (selectedOption === "high-to-low") {
                    filteredItems.sort((a, b) => {
                        const priceA = parseFloat(a.getAttribute("data-price"));
                        const priceB = parseFloat(b.getAttribute("data-price"));
                        return priceB - priceA;
                    });
                } else if (selectedOption === "low-to-high") {
                    filteredItems.sort((a, b) => {
                        const priceA = parseFloat(a.getAttribute("data-price"));
                        const priceB = parseFloat(b.getAttribute("data-price"));
                        return priceA - priceB;
                    });
                } else if (selectedOption === "popularity") {
                    filteredItems.sort((a, b) => {
                        const popularityA = parseInt(a.getAttribute("data-popularity"));
                        const popularityB = parseInt(b.getAttribute("data-popularity"));
                        return popularityB - popularityA;
                    });
                }

                totalPages = Math.ceil(filteredItems.length / itemsPerPage);
                currentPage = 1;

                showItems(currentPage, filteredItems);
                updatePagination();
            }

            // Event listeners for sorting, filtering, and pagination
            selectElement.addEventListener("change", sortAndFilterProducts);
            productFilter.addEventListener("change", sortAndFilterProducts);

            const pagination = document.querySelector(".pagination");
            pagination.addEventListener("click", (event) => {
                if (event.target.classList.contains("page")) {
                    currentPage = parseInt(event.target.getAttribute("data-page"));

                    document.querySelectorAll(".page").forEach((page) => {
                        page.classList.remove("selected");
                    });

                    event.target.classList.add("selected");

                    showItems(currentPage, originalClothingItems);

                    clothingItemsContainer.scrollIntoView({
                        behavior: "auto",
                    });
                }
            });

            // Initial setup
            updatePagination();
            showItems(currentPage, clothingItems);
        });


        </script>


  

</body>

