<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - thrifty</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tpi_website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/lib/photos/td (5).png" width="55" height="55" alt="logo" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sustainably">Shop Sustainably</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Second">Second-Hand</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Donate">Donate</a>
                        </li>
                        


                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                                </li>

                                <li class="nav-item1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Order</a>
                                </li>

                                <li class="nav-item1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                                </li>

                            }
                        }

                         @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item1">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="CreateC">Create an Order</a>
                            </li>
                        }

                    </ul>

                    
                    

                    <script src="script.js"></script>
                    <partial name ="_LoginPartial" />


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
  <footer class="footer">
  	 <div class="containerf">
  	 	<div class="rowf">
  	 		<div class="footer-col">
  	 			<h4>Customer Care</h4>
  	 			<ul>
                        <li><a asp-controller="Home" asp-action="Returns">Returns and Exchanges</a></li>
                        <li><a asp-controller="Home" asp-action="Shipping">Shipping</a></li>
                        <li><a asp-controller="Home" asp-action="Conditions">Terms and Conditions</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>About Us</h4>
  	 			<ul>
                        <li><a asp-controller ="Home" asp-action="Learn">Learn About Thrifty</a></li>
                        <li><a asp-controller="Home" asp-action="Recycle">How We Recycle</a></li>
  	 				
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Contact Us</h4>
  	 			<ul>
  	 				<li><a href="mailto:thriftydesigns@gmail.com">Email</a></li>
                        <li><a href="#tel:+098736965">Call 098736965</a></li>
                        <li><a asp-controller="Home" asp-action="Message">Send Us a Message</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Follow Us</h4>
  	 			<div class="social-links">
                        <a href="https://www.pinterest.nz/thriftyydesigns/" class="fa fa-pinterest" target="_blank"></a>
                        <a href="https://www.instagram.com/thriftyydesigns/" class="fa fa-instagram" target="_blank"></a>
  	 			</div>
  	 		</div>
                </div>
  	 	</div>
  </footer>

     
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  
        <link rel="stylesheet" type="text/css" href="styles.css">
 

</body>
</html>

